version: "3.8"

services:

  mqtt:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"

  cloud:
    build:
      context: .
      dockerfile: Dockerfile.cloud
    ports:
      - "8000:8000"

  fog:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mqtt
      - cloud
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "5000:5000"
